.main {
    height:470px;
}

header {
    position: relative;
    
    min-height: 284px;
    height:340px;
    
    background: url('../img/clouds.png') no-repeat center top;
    background-size: contain;
    
    .castle {
        text-align: center;
        
        img {
            margin:0 auto;
        }
    }
    
    .logo-container {
        text-align: center;
        position: absolute;
        width: 100%;
        bottom:0;
        transition:all 1s ease;

        @media (max-width: @screen-md-min) { 
            z-index:10000;
            transition:all 1s ease;
        }
        
        img {
            margin:0 auto;
        }
    }
    
    .king-container{

        img {
            position: absolute;
            right:20%;
            bottom:-70px;
            transition:all 1s ease;
            z-index:10000;
            transform:rotate(6deg);

            @media (max-width: @screen-md-min) { 
             right:0%;
             transition:all 1s ease;
            }
        }
    }
    
    .btn-calltoaction{
        text-align:center;
        position: absolute;
        width:100%;
        bottom:-60px;
        z-index: 1000;
        
            .btn-lightblue {
            .btnStyle(rgba(0, 169, 212, 1));
        }
    }
    
    .yellow-badge {
        background: url('../img/badge.png') no-repeat center center;
        display: inline-block;
        text-align: center;
        padding:80px 50px;
        padding-top:44px;
        width:286px;
        height:300px;
        box-sizing: border-box;
        position: absolute;
        top:0px;
        transform:rotate(-15deg);
        transition:all 1s ease;

        @media (max-width: @screen-md-min) { 
            transform:scale(.8) rotate(-15deg);
            top:-60px;
            left:-20px;
            transition:all 1s ease;
        }
        
        [class^="line"] {
            text-shadow: 0px 0px 6px rgba(0,0,0,.7);
        }
        
        [class$="1"] {
            font-size:1.4em;
            margin-bottom:16px;
        }
        
        [class$="2"] {
            font-size:3.2em;
            font-family: 'geomanistbold';
            line-height:28px;
        }
        
        [class$="3"] {
            font-size:2em;
            font-family: 'geomanistbold';
        }
        
        [class$="4"] {
            font-size:1.4em;
        }
        
    }
}



