@import '../bower_components/bootstrap/less/bootstrap.less';
@import '../fonts/05.Geomanist_Book_webfontkit/stylesheet.css';
@import '../fonts/07.Geomanist_Bold_webfontkit/stylesheet.css';
@import '../fonts/03.Geomanist_Light_webfontkit/stylesheet.css';
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import 'variables.less';
@import 'header.less';
@import 'taglines.less';


body {
    height:100vh;
    
    background: @baseblue;
    color: @defaulttext;
    
    font-family: 'geomanistbook';

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
}

.flex-item {
    order:0;
    flex: 0 0 auto;
    align-self: center;
}

.featurelist {
    display: flex;
    flex-direction: row;
    
    @media (max-width: @screen-md-min) {
        display:block;
        width:100%;
    }
    
    .feature {

        .feature_image {
            min-height:120px;
            background-image: -webkit-radial-gradient(50% bottom,rgba(255, 239, 213, .4),rgba(255,255,255,0) 70%);
            background-position:center 0px;
            background-repeat: no-repeat;
            position: relative;
            margin-bottom:40px;
        }
        
        img {
            margin:0 auto;
            position: absolute;
            bottom:-30px;
            transform:translate(-50%);
            left:50%;
        }

        p {
            font-size:1.2em;
            font-family: 'geomanistlight';
        }
    }
}

.media {

    img {
        min-height:168px;
    }

    .center-block {
        font-size: 1.2em;
        font-family: 'geomanistlight';
    }

    .thumbnail {
        border:0px transparent;
        background:none;
    }

    .image {
        position: relative;


        &:after {
            content:'';
            position: absolute; 
            background: white url('../img/view.png') no-repeat center;
            width:40px;
            height:40px;
            border-radius:50%;
            transform:translate(-50%, -50%);
            top:50%;
            left:50%;
        }
    }

    .video {
        position: relative;


        &:after {
            content:'';
            position: absolute; 
            background: white url('../img/viewvideo.png') no-repeat center;
            width:40px;
            height:40px;
            border-radius:50%;
            transform:translate(-50%, -50%);
            top:50%;
            left:50%;
        }
    }
}

footer {
    min-height:200px;
    display:flex;
    background: rgba(21, 63, 113, 1);
    margin-top:100px;
    align-items:center;

    p {
        margin:0 auto;
        font-family: 'geomanistlight';
        font-size:1.2em;

            @media (max-width: @screen-md-min) { 
                padding:0px 15px;
                text-align:center;
            }
    }
}




