.tag {
    font-family: 'Lobster';
    font-size:1.9em;
    text-align: center;
}

.second {
    margin-top:30px;
    
    center {
        
        h1, h2 {
            /*line-height: .5;*/
        }
        
        h1 {
            font-size: 3em;
            font-family: 'geomanistbold';
        }
        
        h2 {
            font-size: 1.784em;
            font-family: 'geomanistlight';
        }
    }   
}

.third {
    margin:40px auto;
    
    center {
        
        h1, h2 {
            /*line-height: .5;*/
        }
        
        h1 {
            font-size: 3em;
            font-family: 'geomanistbold';
        }
        
        h2 {
            font-size: 1.784em;
            font-family: 'geomanistlight';
        }
    }   
}

.btn-streak{
        text-align:center;
        bottom:-60px;
        z-index: 1000;
        
            .btn-lightblue {
            .btnStyleStreak(rgba(0, 169, 212, 1));
        }
    }

