@baseblue: rgba(0, 94, 173, 1);
@defaulttext: rgba(255, 255, 255, 1);

.btnStyle(@bg) {
	background: @bg linear-gradient(to bottom, @bg 0%, overlay(@bg, rgba(0,0,0,.8)) 100%);
	border: .08em solid white;
    border-radius: 50em;
    font-size: 26px;
    font-family: 'geomanistbold';
    padding:.5em 3.2em;
    box-shadow:inset 0 .06em .1em 0 rgba(0,0,0,.50), 0 .6em 2em 0 rgba(0,0,0,.80);
    text-shadow: 0px 2px 2px rgba(0,0,0,.5);

	&:hover {
		background: desaturate(@bg,0%);
		cursor: pointer;
        text-shadow: none;
        color:white;
	}
}

.btnStyleStreak(@bg) {
    border: 1px solid white;
    border-radius: 14px;
    font-size: 20px;
    font-family: 'geomanistlight';
    display:block;
    padding:8px 20px;
    margin-top:20px;

    &:hover {
        background: desaturate(@bg,0%);
        cursor: pointer;
        text-shadow: none;
        color:white;
    }
}

.center-block {
    text-align:center;
}

.bottomtagline {
    margin:30px auto;
}